/* Grid layout */

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-areas:
        "header header header"
        "hero    hero    hero"
        "....... main  ......"
        "footer footer footer";
}

/*
@media only screen and (min-width: 960px){

    body {
        grid-template-columns: 1rem minmax(200px, 600px) minmax(200px, 600px) minmax(200px, 600px) 1rem;
        grid-template-areas:
            "header header header header header"
            "hero   hero    hero   hero    hero"
            "...... main   main   main ....... "
            "footer footer footer footer footer";
    }
}
*/
header {
    grid-area: header;
}

#hero_section {
    grid-area: hero;
    background-image: url(../images/193_00758.jpg);
}

.main_content {
    grid-area: main;
}

footer {
    margin-top: auto;
    grid-area: footer;
}

/* Grid Homepage Only */

#hero_home {
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
}

#hero_home > * {
    grid-area: stack;
}

#article1 {}

#article2 {}

#article3 {}

/* Nav Bar */

.navbar,
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
}

.navbar-nav {
    margin-left: auto;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}

/* Hero Section */

*, *::before, *::after {
    box-sizing: border-box;
}

#hero_section {
    background-image: url(../images/193_00758.jpg) no-repeat center center;
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero_style {
    max-width: 55rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* Footer*/

footer {
    background-color: #333;
    color: #fff;
}